.jumbotron{

}

#jumbotron_header{
	color:#E63946;
}

.lead{
	color:#333333;
}

.second_lead{
	color:#333333;
}

.jumbotron_hr{

}

.btn_custom{
	color:#333333;
	border-color:#333333;
}

#see_more{
	color:#ffffff;
	background-color:#E63946;
	border-bottom-color:#E63946;
}

.navigation_element:hover{
	color:#333333 !important;
}
