.jumbotron{
	margin-bottom:0;
	padding-top:1.7rem !important;
	padding-bottom:1.5rem !important;
}

#jumbotron_logo{
	width:150px;
	height:150px;
}

.btn-outline-info{
	color:#457b9d;
	border-color:#457b9d;
}

#jumbotron_header{
	font-weight:600;
}

#big_container{
	background-color:#333333;
}

#elements_container{
	background-color:inherit;
	display:flex;
	flex-wrap:wrap;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

.clickable_link{
	width:400px;
	height:400px;
}	

.element{
	width:33.3%;
	display:flex;
	flex-direction:column;
	text-align:center;
	padding-left:20px;
	padding-right:20px;
}

.image_container{
	width:400px;
	height:400px;
	display:flex;
	justify-content:center;
	align-items:center;
	transition: transform 0.5s;
	-webkit-transition: -webkit-transform 0.4s;
}

.overlap_menu_image_series{
	width:350px;
	height:350px;
	cursor: url(hand.cur), pointer;
	transition: width 0.5s, height 0.5s;
}

.navigation_element:hover{
	text-decoration:none;
	color:#333333 !important;
}

.navigation_element:hover .overlap_menu_image_series{
	width:400px;
	height:400px;
    transition: width 0.5s, height 0.5s;
}

.element_span{
	max-width:500px;
	padding:5px;
	color:#333333;
}

#element_1{
	background-color:inherit;
}

.overlap_element{
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	cursor: url(hand.cur), pointer;
	margin:0;
	transition: 1s liner;
}

.overlap_menu_image{
	width:400px;
	height:400px;
	transition: 1s linear;
}

.overlay{
	width:425px;
	height:425px;
	position: absolute;
	opacity: 0;
	transition: 1s liner;
}

.overlap_text{
	color:black;
}	

.overlap_element:hover .overlay {
  opacity: 1;
}

.overlap_element:hover .overlap_menu_image {
  opacity: 0;
}

@media screen and (max-width: 576px){
	
	.element{
		width:100%;
	}
	
	.image_container{
		width:100%;
	}


}

