html{
	scroll-behavior: smooth;
}

.jumbotron{
	margin-bottom:0;
	padding-top:1rem !important;
	padding-bottom:1rem !important;
}

#jumbotron_logo_container{
	display:flex;
	flex-direction:row; 
	align-items:center;
}	

#jumbotron_logo{
	width:100px;
	height:100px;
}

#jumbotron_header{
	font-weight:600;
	color:#E63946;
}

#jumbotron_additional_info{
	display:flex;
	justify-content:space-between;
}

#jumbotron_contact{
	text-decoration:none;
	font-weight:600;
	color:#333333;
	width:auto;
	float:right
}

.jumbotron_contact_list_element{
	list-style-type:none;
	margin-left:10px;
	float:left;
}

#see_more{
	font-weight:600;
}

.btn_custom{
	height:40px;
	border-top:0;
	border-left:0;
	border-right:0;
	border-radius:0;
}

.main_content{
	width:100%;
	display:flex;
	flex-wrap:wrap;
}

.element{
	width:100%;
	padding-top:30px;
	padding-bottom:30px;
	margin-top:auto;
	margin-bottom:auto;
}

#grafic_element{
	padding-top:100px;
	padding-bottom:100px;
}

#list_element{
	width:50%;
}

.image_container{
	width:100%;
	max-width:700px;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-left:auto;
	margin-right:auto;
}

.image_big{
	width:100%;
	height:100%;
}

.indicator{
	color:black;
	position:absolute;
	background-color:#F8f8ff;
	width:30px;
	height:30px;
	border-radius:20px;
	text-align:center;
	font-weight:500;
	box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: pulse 2s infinite;
	cursor: pointer;
	display:flex;
	justify-content:center;
	align-items:center;
}

.indicator_inactive{
	color:black;
	width:30px;
	min-width:30px;
	height:30px;
	border-radius:20px;
	text-align:center;
	font-weight:500;
	cursor: pointer;
	margin-right:7px;
	display:flex;
	justify-content:center;
	align-items:center;
	border:1px solid #333333;
}

.h-center{
	margin-top:auto;	
	margin-bottom:auto;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.9);
  }
  
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0.6);
  }
  
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(230,57,70, 0.9);
    box-shadow: 0 0 0 0 rgba(230,57,70, 0.9);
  }
  
  40%{
	-moz-box-shadow: 0 0 0 0 rgba(230,57,70, 0.4);
    box-shadow: 0 0 0 0 rgba(230,57,70, 0.4); 
  }
  
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(230,57,70, 0.3);
    box-shadow: 0 0 0 5px rgba(230,57,70, 0.3);
  }
  
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(230,57,70, 0);
    box-shadow: 0 0 0 0 rgba(230,57,70, 0);
  }
}

#heat_ind{
	bottom:calc(50%);
	left:calc(12.5%);
}

#floor_ind{
	bottom:calc(10%);
	left:calc(25% - 15px);
}

#wall_ind{
	bottom:calc(75% - 15px);
	left:calc(37.5% - 15px);
}

#lights_ind{
	bottom:calc(50%);
	right:calc(37.5%);
}

#sanit_ind{
	bottom:calc(50%);
	right:calc(12.5%);
}

#tiles_ind{
	bottom:calc(12.5%);
	right:calc(25% - 15px);
}

.list_ind{
	background-color:white;
	position:absolute;
	border-radius:5px;
	opacity:0.8;
	width:220px;
	height:120px;
	display:flex;
	flex-direction:column;
	padding:10px;
}

.list_ind:hover{
	opacity:1;
	cursor: pointer;
}

#heat_ind_list{
	bottom:calc(50% - 80px);
	left:-200px;
	height:150px;
}

#floor_ind_list{
	bottom:-50px;
	left:calc(-12.5%);
}

#wall_ind_list{
	top:0px;
	left:calc(37.5% - 15px);
	width:250px;
	height:80px;
}

#sanit_ind_list{
	bottom:calc(50% - 100px);
	right:-240px;
	height:auto;
	width:250px;
}

#lights_ind_list{
	right:calc(37.5% - 75px);
	bottom:calc(50% - 50px);
	height:auto;
	width:180px;
}

#tiles_ind_list{
	bottom:-50px;
	right:calc(25% - 100px);
	height:auto;
}


.ul_big{
	display:grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	padding:0;
	width:100%
}

.list-custom-item{
	list-style-type: none;
	font-size:1rem;
}

.list-custom-item-header{
	font-weight:600;
}

.card{
	min-width:220px;
}

.ul_small{
	padding-left:5px;
	padding-right:5px;
	width:100%;
	margin-bottom:20px;
	height:auto;
}

#services{
	padding-left:1rem;
	padding-right:1rem;
	display:flex;
	flex-direction:row;
	background-color:#f5df4d;
}

#services_head,#services_list{
	width:50%;
}

#services_head_header{
	font-size:9rem;
	display:block
}

#services_head_span{
	display:block;
	font-size:1.5rem;
}

#services_head_span_mobile{
	display:none;
}

#strip{
	width:100%;
	background-color:#1D3557;
	color:white;
	display:flex;
	align-items:center;
	justify-content:space-between;
	text-align:center;
	padding:50px;
}

.strip_element{
	width:30%;
}

.strip_span{
	font-size:2rem;
	font-weight:600;
	color:white;
	display:block
}

@media screen and (max-width: 576px){
	.jumbotron{
		height:100vh;
	}
	
	#jumbotron_logo_container{
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}
	
	#jumbotron_additional_info{
		display:flex;
		flex-direction:column;
	}
	
	#jumbotron_contact{
		padding:0;
	}
	
	#jumbotron_contact_head{
		display:none;
	}
	
	.jumbotron_contact_list_element{
		margin-left:0;
		text-align:center;
		display:block;
		width:100%;
	}
	
	.btn_custom{
		width:80%;
		margin-bottom:1rem;
		border-top:0;
		border-left:0;
		border-right:0;
		border-radius:0;
	}
	
	#see_more{
		width:80%;
	}
	
	.lead{
		text-align:center;
	}

	.list-custom-item{
		word-break: break-word;
	}
	
	#services_head,#services_list{
		width:100%;
	}

	#services_head_header{
		font-size:3rem;
		display:block;
		text-align:center;
		margin-bottom:1rem;
	}
	
	#services_head_span{
		display:none;
	}
	
	#services_head_span_mobile{
		display:block;
		text-align:center;
		font-weight:600;
	}

	.ul_big{
		grid-template-columns: 50% 50%;
	}

	.ul_small{
		width:100%;
	}

	#strip{
		flex-direction:column;
		padding:10px;
	}	
	
	.strip_image{
		width:80px;
		height:80px;
	}
	
	.strip_element{
		width:100%;
		margin-bottom:10px;
		padding:10px;
	}
	
	.strip_span{
		font-size:1.3rem;
	}
	
	.strip_span_small{
		font-size:1rem;
	}


}

@media screen and (max-width: 992px){

	.list_ind{
		display:none;
	}
	
	#grafic_element{
		padding-left:10px;
		padding-right:10px;
		padding-top:20px;
		padding-bottom:20px;
		background-color:#f5df4d;
	}

	#services{
		flex-direction:column;
		padding-top:5px;
	}
	
	#services_head,#services_list{
		width:100%;
	}
	
}

@media screen and (min-width: 992px) and (max-width: 1200px){

#heat_ind_list{
	top:calc(50% + 10px);
	left:calc(12.5% - 150px);
	width:300px;
	height:110px;

}

#floor_ind_list{
	bottom:-90px;
	left:calc(25% - 125px);
}

#sanit_ind_list{
	bottom:calc(50% + 50px);
	right:-100px;
	height:auto;
	width:250px;
}

#services_head_header{
	font-size:5rem;
}


	
}

