html{
	scroll-behavior: smooth;
}

html, 
body {
    height: 100%;
	background-color:#333333;
}

#tabel_despre_mobile{
	display:none;
}

.h-center{
	margin-top:auto;	
	margin-bottom:auto;
}

.header{
	font-size:30px;
	font-weight:400;
	margin-bottom:15px;
}

.ul_big{
	columns:4;
	padding:0;
	width:100%;
	margin:0;
	margin-left:auto;
	margin-right:auto;
	padding-top:5px;
	padding-bottom:5px;
}

.ul_small{
	display:flex;
	flex-direction:row;
	padding-left:5px;
	padding-right:5px;
	width:100%;
	margin-bottom:20px;
	height:auto;
	break-inside: avoid;
}

#contact_label{
	background-color:#282120;
	color:white;
	font-size:4rem;
	font-weight:300;
}

#container_despre{
	background-color:#f8f8ff;
	display:flex;
	flex-direction:row;
	padding-left:50px;
	padding-right:50px;
	padding-top:50px;
	padding-bottom:50px;
	font-size:24px;
	line-height:1.15rem;
	color:#0A0A0A;
}

#container_despre_1{
	width:50%;
}

#container_despre_2{
	width:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	padding-left:25px;
	padding-right:25px;
}

#tabel_despre{
	width:100%;
	border:none;
	max-width:600px
}

#years{
	text-align:center;
	font-size:3rem
}

.tabel_despre_header{
	text-align:center
}

.material-icons{
	font-size:3rem;
}

#container_servicii{
	background-color:#f8f8ff;
	color:black;
	padding-left:50px;
	padding-right:50px;
	padding-top:50px;
	padding-bottom:50px;
}

.servicii-icon{
	width:80px;
	height:80px;
}

.serviciu-container{
	min-height:80px;
	display:flex;
	flex-direction:column;
	line-height:1;
}

.serviciu-span-big{
	font-size:24px;
	font-weight:500;
}

.serviciu-span-small{
	font-size:20px;
	font-weight:400;
}

.serviciu-span-big, .serviciu-span-small{
	padding-left:5px;
}

#container_contact{
	width:100%;
	color:black;
	display:flex;
	flex-direction:column;
	padding-left:50px;
	padding-right:50px;
	padding-top:25px;
	padding-bottom:25px;
}

.contact_element{
	display:flex;
	flex-direction:row;	
	justify-content:space-around;
	max-width:1200px;
	margin-left:auto;
	margin-right:auto;
}

.contact-element-container{
	font-size:24px;
	color:white;
}

.contact_list_element{
	display:flex;
	align-items:center;
	list-style-type:none;
	color:white;
	margin-bottom:0;
	padding-left:0;
	margin-left:0;
	font-size:1.5rem;	
}

.contact_element{
	width:100%;
	text-align:left;
}

.logo_container_span{
	font-size:20px;
}

.contact_list_element .material-icons{
	font-size:25px;
	color:white;
}

.contact_text{
	font-size:20px;
	font-weight:300;
	word-break:break-all;
}

#adresa{
	max-width:100px;
}

#load_more{
	position:absolute;
	bottom:25px;
	color:red;
}

.big-text{
	font-weight:400;
	font-size:24px;
	line-height:1.5rem;
	padding-left:5px;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
	color:#1A1A1D;
	line-height:30px;
}

@media screen and (max-width: 576px){

	#tabel_despre_mobile{
		display:block;
	}
	
	#tabel_despre_mobile tbody{
		margin-left:auto;
		margin-right:auto;
	}

	#tabel_despre{
		display:none;
	}

	.header{
		font-size:24px;
	}

	#container_despre{
		flex-direction:column;
		padding-left:10px;
		padding-right:10px;
		padding-top:25px;
		padding-bottom:25px;
	}

	#container_despre_1, #container_despre_2, #container_servicii{
		width:100%;
		padding-left:10px;
		padding-right:10px;
	}
	
	#container_servicii{
		padding-top:25px;
		padding-bottom:25px;
	}
	
	#container_despre_2{
		margin-top:20px;
	}
	
	.material-icons,#years{
		font-size:1.75rem;
	}

	.ul_big{
		columns:1;
	}
	
	.ul_small{
		margin-bottom:10px;
	}
	
	.servicii-icon{
		width:50px;
		height:50px;
	}
	
	.serviciu-container{
		min-height:50px;
		justify-content:start;
	}
	
	.serviciu-span-big{
		font-size:20px;
		padding-left:5px
	}

	.serviciu-span-small{
		font-size:16px;
		padding-left:5px
	}
	
	#container_contact{
		flex-direction:column;
	}
	
	#container_contact hr{
		display:none;
	}
	
	.contact_element{
		width:100%;
		text-align:left;
		flex-direction:column;
	}
	
	.logo_container_span{
		font-size:16px;
	}
	
	.contact_list_element .material-icons{
		font-size:20px;
		color:white;
		padding-right:5px;
	}
	
	.contact_text{
		font-size:16px;
		font-weight:400;
		word-break:break-all;
	}
	
	.contact_element .header{
		display:none;
	}
		
}

@media screen and (min-width: 576px) and (max-width: 767px){
	
	#tabel_despre_mobile{
		display:block;
		width:570px;
		margin-left:auto;
		margin-right:auto;
	}

	#tabel_despre_mobile tbody{
		margin-left:auto;
		margin-right:auto;
	}

	#tabel_despre{
		display:none;
	}
	
	.header{
		font-size:24px;
	}

	#container_despre{
		flex-direction:column;
		padding-left:10px;
		padding-right:10px;
		padding-top:25px;
		padding-bottom:25px;
	}

	#container_despre_1, #container_despre_2, #container_servicii{
		width:100%;
		padding-left:10px;
		padding-right:10px;
		padding-top:10px;
		padding-bottom:10px;
	}
	
	#container_despre_2{
		padding-top:0;
		padding-bottom:0;
	}
	
	#container_servicii{
		padding-top:25px;
		padding-bottom:25px;
	}
	
	.material-icons,#years{
		font-size:1.75rem;
	}

	.ul_big{
		columns:2;
	}
	
	.ul_small{
		margin-bottom:10px;
	}
	
	.servicii-icon{
		width:50px;
		height:50px;
	}
	
	.serviciu-container{
		min-height:50px;
		justify-content:start;
	}
	
	.serviciu-span-big{
		font-size:20px;
		padding-left:5px
	}

	.serviciu-span-small{
		font-size:16px;
		padding-left:5px
	}
	
	#container_contact{
		flex-direction:column;
	}
	
	#container_contact hr{
		display:none;
	}
	
	.contact_element{
		width:100%;
		text-align:left;
	}
	
	.logo_container_span{
		font-size:16px;
	}
	
	.contact_list_element .material-icons{
		font-size:20px;
		color:white;
		padding-right:5px;
	}
	
	.contact_text{
		font-size:16px;
		font-weight:400;
		word-break:break-all;
	}
	
	.contact_element .header{
		display:none;
	}	

}

@media screen and (min-width: 768px) and (max-width: 992px){

	#tabel_despre_mobile{
		display:flex;
	}

	#tabel_despre_mobile tbody{
		margin-left:auto;
		margin-right:auto;
	}

	#tabel_despre{
		display:none;
	}

	.header{
		font-size:24px;
	}

	#container_despre{
		flex-direction:column;
		padding-left:10px;
		padding-right:10px;
	}

	#container_despre_1, #container_despre_2, #container_servicii{
		width:100%;
		padding-left:10px;
		padding-right:10px;
		padding-top:25px;
		padding-bottom:25px;
	}
	
	#container_despre_2{
		padding-top:0;
		padding-bottom:0;
	}
	
	#container_servicii{
		padding-top:25px;
		padding-bottom:25px;
	}
		
	.material-icons,#years{
		font-size:1.75rem;
	}

	.ul_big{
		columns:3;
	}
	
	.ul_small{
		margin-bottom:10px;
	}
	
	.servicii-icon{
		width:50px;
		height:50px;
	}
	
	.serviciu-container{
		min-height:50px;
		justify-content:start;
	}
	
	.serviciu-span-big{
		font-size:20px;
		padding-left:5px
	}

	.serviciu-span-small{
		font-size:16px;
		padding-left:5px
	}
	
	#container_contact{
		flex-direction:column;
	}
	
	#container_contact hr{
		display:none;
	}
	
	.contact_element{
		width:100%;
		text-align:left;
	}
	
	.logo_container_span{
		font-size:16px;
	}
	
	.contact_list_element .material-icons{
		font-size:20px;
		color:white;
		padding-right:5px;
	}
	
	.contact_text{
		font-size:16px;
		font-weight:400;
		word-break:break-all;
	}
	
	.contact_element .header{
		display:none;
	}

}

@media screen and (min-width: 992px) and (max-width: 1199px){

.img_big, .image_container{
		max-width:700px;
	}

	.list_ind{
		display:none;
	}

	.list-custom-item{
		word-break: break-word;
		line-height:1.2;
		font-size:1.25rem;
		font-weight:300;
		padding-bottom:5px;
	}
	
	.fa-check{
		margin-right:5px;
		margin-left:5px;
	}

	#services,#strip,#contact{
		padding-left:3rem;
		padding-right:3rem;
	}

	#strip{
		padding-top:20px;
	}

	.strip_span{
		font-size:1.5rem
	}
	.strip_span_small{
		padding-left:10px;
		padding-right:10px;
	}

	#services_head_header, #about_me, #contact_label{
		font-size:2.5rem;
	}
		
	.indicator, .list_ind{
		display:none;
	}
	
	.small_navigation_indicator{
		color:black;
		position:absolute;
		border-radius:20px;
		font-weight:400;
		font-size:1rem;
		box-shadow: 0 0 0 rgba(204,169,44, 0.4);
		display:flex;
		justify-content:flex-start;
		background-color:white;
		opacity:0.8;
		padding:1px;
	}

	.indicator_small{
		margin-right:5px;
		color:inherit;
		background-color:transparent;
		width:26px;
		height:26px;
		border-radius:20px;
		text-align:center;
		font-weight:500;
		border:1px solid black;
		display:flex;
		justify-content:center;
		align-items:center;
		animation:pulse 2s infinite;
	}

	#small_nav_floor{
		bottom:calc(15%);
		left:calc(22.5%);
	}
	
	#small_nav_wall{
		top:calc(25%);
		left:calc(35%);
	}

	#small_nav_tiles{
		bottom:calc(15%);
		right:calc(20%);
	}
	
	#small_nav_heat{
		left:calc(12.5%);
		bottom: calc(45%);
	}
	
	#small_nav_lights{
		bottom: calc(55%);
		left: calc(55%);
	}
	
	#small_nav_sanit{
		bottom: calc(35%);
		right: calc(12.5%);
	}
	
	#grafic_element{
		display:flex;
		flex-direction:row;
	}
	
	#image_container, #services{
		width:50%;
	}
	
	#services{
		padding:0;
	}
	
	#grafic_element{
		padding-left:2rem;
		padding-right:2rem;
		padding-top:2rem;
		padding-bottom:2rem;
	}
	
	.strip_hr{
		height:50px;
	}
	
}

@media screen and (min-width: 1200px){

	.img_big, .image_container{
		max-width:700px;
	}

	.list_ind{
		display:none;
	}

	.list-custom-item{
		word-break: break-word;
		line-height:1.2;
		font-size:1.25rem;
		font-weight:300;
		padding-bottom:5px;
	}
	
	.fa-check{
		margin-right:5px;
		margin-left:5px;
	}

	#services,#strip,#contact{
		padding-left:3rem;
		padding-right:3rem;
	}

	#strip{
		padding-top:20px;
	}

	.strip_span{
		font-size:1.5rem
	}
	.strip_span_small{
		padding-left:10px;
		padding-right:10px;
	}

	#services_head_header, #about_me, #contact_label{
		font-size:2.5rem;
	}
		
	.indicator, .list_ind{
		display:none;
	}
	
	.small_navigation_indicator{
		color:black;
		position:absolute;
		border-radius:20px;
		font-weight:400;
		font-size:1rem;
		box-shadow: 0 0 0 rgba(204,169,44, 0.4);
		display:flex;
		justify-content:flex-start;
		background-color:white;
		opacity:0.8;
		padding:1px;
	}

	.indicator_small{
		margin-right:5px;
		color:inherit;
		background-color:transparent;
		width:26px;
		height:26px;
		border-radius:20px;
		text-align:center;
		font-weight:500;
		border:1px solid black;
		display:flex;
		justify-content:center;
		align-items:center;
		animation:pulse 2s infinite;
	}

	#small_nav_floor{
		bottom:calc(15%);
		left:calc(22.5%);
	}
	
	#small_nav_wall{
		top:calc(25%);
		left:calc(35%);
	}

	#small_nav_tiles{
		bottom:calc(15%);
		right:calc(20%);
	}
	
	#small_nav_heat{
		left:calc(12.5%);
		bottom: calc(45%);
	}
	
	#small_nav_lights{
		bottom: calc(55%);
		left: calc(55%);
	}
	
	#small_nav_sanit{
		bottom: calc(35%);
		right: calc(12.5%);
	}
	
	#grafic_element{
		display:flex;
		flex-direction:row;
	}
	
	#image_container, #services{
		width:50%;
	}
	
	#services{
		padding:0;
	}
	
	#grafic_element{
		padding-left:2rem;
		padding-right:2rem;
		padding-top:2rem;
		padding-bottom:2rem;
	}
	
	.strip_hr{
		height:50px;
	}
	
}
