html{
	scroll-behavior: smooth;
}

.main_content{
	width:100%;
	display:flex;
	flex-wrap:wrap;
}

.element{
	width:100%;
	padding-top:30px;
	padding-bottom:30px;
	margin-top:auto;
	margin-bottom:auto;
}

#grafic_element{
	padding-top:10px;
	padding-bottom:0;
	background-color:#f8f8ff;
}

#list_element{
	width:50%;
}

.image_container{
	margin:auto;
}

.image_big{
	width:100%;
	height:auto;
}

.indicator{
	color:black;
	position:absolute;
	background-color:#F8f8ff;
	width:30px;
	height:30px;
	border-radius:20px;
	text-align:center;
	font-weight:500;
	box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: pulse 2s infinite;
	cursor: pointer;
	display:flex;
	justify-content:center;
	align-items:center;
}

.indicator_inactive{
	color:black;
	width:30px;
	min-width:30px;
	height:30px;
	border-radius:20px;
	text-align:center;
	font-weight:500;
	cursor: pointer;
	margin-right:7px;
	display:flex;
	justify-content:center;
	align-items:center;
	border:2px solid #333333;
}

.h-center{
	margin-top:auto;	
	margin-bottom:auto;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(11,21,34, 0.9);
  }
  
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(11,21,34, 0.6);
  }
  
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(11,21,34, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(11,21,34, 0.9);
    box-shadow: 0 0 0 0 rgba(11,21,34, 0.9);
  }
  
  40%{
	-moz-box-shadow: 0 0 0 0 rgba(11,21,34, 0.4);
    box-shadow: 0 0 0 0 rgba(11,21,34, 0.4); 
  }
  
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(11,21,34, 0.3);
    box-shadow: 0 0 0 5px rgba(11,21,34, 0.3);
  }
  
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(11,21,34, 0);
    box-shadow: 0 0 0 0 rgba(11,21,34, 0);
  }
}


.list_ind{
	background-color:white;
	position:absolute;
	border-radius:5px;
	opacity:0.8;
	max-width:275px;
	display:flex;
	flex-direction:column;
	padding:10px;
}

.list_ind:hover{
	opacity:1;
	cursor: pointer;
}

.ul_big{
	columns:4;
	padding:0;
	width:100%;
}

.list-custom-item{
	list-style-type: none;
	font-size:1rem;
}

.list-custom-item-header{
	font-weight:600;
}

.card{
	min-width:220px;
}

.ul_small{
	padding-left:5px;
	padding-right:5px;
	width:100%;
	margin-bottom:20px;
	height:auto;
	break-inside: avoid;
}

#services{
	display:flex;
	flex-direction:row;
	background-color:inherit;
}

#services_head,#services_list{
	width:100%;
}

#services_head_header{
	font-size:4rem;
	display:block;
	text-align:center;
	margin-bottom:25px;
	font-weight:300;
	background-color:#f8f8ff;
	text-align:center;
	width:100%;
	margin:0;
}

#services_head_span{
	display:block;
	font-size:1.5rem;
}

#services_head_span_mobile{
	display:none;
}

#about_me{
	background-color:#1D3557;
	color:white;
	font-size:4rem;
	text-align:center;
	font-weight:300;
}

#strip{
	width:100%;
	background-color:#1D3557;
	color:white;
	display:flex;
	align-items:center;
	flex-direction:column;
	text-align:center;
	padding:50px;
	padding-left:6rem;
	padding-right:6rem;
}

.strip_element{
	width:30%;
	min-width:110px;
}

.strip_element_container{
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-bottom:2rem;
	flex-wrap:wrap;
}

.strip_span{
	font-size:2rem;
	font-weight:600;
	color:white;
	display:block
}

#contact_label{
	background-color:#333333;
	color:white;
	font-size:4rem;
	text-align:center;
	font-weight:300;
}

#contact{
	width:100%;
	background-color:#333333;
	color:white;
	display:flex;
	align-items:center;
	justify-content:flex-start;
	padding:50px;
	padding-top:0;
}

.contact_element{
	width:50%;
}

.contact_list_element{
	list-style-type:none;
	color:white;
	margin-bottom:0;
	padding-left:0;
	margin-left:0;
	font-size:1.5rem;
	
}

.indicator_small{
	cursor:pointer;
}


@media screen and (max-width: 576px){

	.small_navigation_indicator{
		color:black;
		position:absolute;
		border-radius:20px;
		font-weight:400;
		font-size:.75rem;
		box-shadow: 0 0 0 rgba(204,169,44, 0.4);
		display:flex;
		justify-content:flex-start;
		background-color:white;
		opacity:0.8;
	}

	.indicator_small{
		margin-right:5px;
		color:inherit;
		background-color:transparent;
		width:20px;
		height:20px;
		border-radius:20px;
		text-align:center;
		font-weight:500;
		border:1px solid black;
		display:flex;
		justify-content:center;
		align-items:center;
		animation: pulse 2s infinite;
	}

	.image_container{
		margin-bottom:5px;
	}

	#grafic_element{
		padding-left:1rem;
		padding-right:1rem;
	}

	.list-custom-item-small{
		display:none;
	}

	.indicator{
		display:none;
	}
	
	#small_nav_floor{
		bottom:calc(15%);
		left:calc(20%);
	}
	
	#small_nav_wall{
		top:calc(25%);
		left:calc(35%);
	}

	#small_nav_tiles{
		bottom:calc(15%);
		right:calc(20%);
	}
	
	#small_nav_heat{
		left:calc(12.5%);
		bottom: calc(45%);
	}
	
	#small_nav_lights{
		bottom: calc(55%);
		left: calc(55%);
	}
	
	#small_nav_sanit{
		bottom: calc(35%);
		right: calc(12.5%);
	}
		
	.list_ind{
		display:none;
	}
		
	.list-custom-item{
		word-break: break-word;
		line-height:1.2;
		font-size:1.25rem;
		font-weight:300;
	}
	
	.fa-check{
		margin-right:5px;
		margin-left:5px;
	}
	
	#services{
		padding-left:.25rem;
		padding-right:.25rem;
	}
	
	#services_head,#services_list{
		width:100%;
	}

	#services_head_header,#about_me,#contact_label{
		font-size:2rem;
	}
	
	#services_head_span{
		display:none;
	}
	
	#services_head_span_mobile{
		display:block;
		text-align:center;
		font-weight:600;
	}

	.ul_big{
		columns:1;
	}

	.ul_small{
		width:100%;
		padding-left:0;
		padding-right:0;
	}

	#strip_label{
		font-size:3rem;
		font-weight:400;
	}

	#strip{
		padding:10px;
		padding-left:1rem;
		padding-right:1rem;
	}	
	
	.strip_image{
		width:80px;
		height:80px;
		margin-bottom:8px;
	}
	
	.strip_element{
		width:30%;
	}
	
	.strip_span{
		font-size:1.3rem;
	}
	
	.strip_span_small{
		font-size:.75rem;
		display: list-item;
		list-style:none;
		line-height:1;
	}

	.strip_hr{
		display:none
	}
	
	#contact{
		padding:1rem;
	}
	
	.contact_list_element{
		font-size:1rem;
	}

}

@media screen and (min-width: 576px) and (max-width: 767px){
	
	.indicator{
		display:none;
	}
	
	.list_ind{
		display:none;
	}
	
	.small_navigation_indicator{
		color:black;
		position:absolute;
		border-radius:20px;
		font-weight:400;
		font-size:1rem;
		box-shadow: 0 0 0 rgba(204,169,44, 0.4);
		display:flex;
		justify-content:flex-start;
		align-items:center;
		background-color:white;
		opacity:0.8;
		padding:3px;
	}

	.indicator_small{
		margin-right:5px;
		color:inherit;
		background-color:transparent;
		width:25px;
		height:25px;
		border-radius:20px;
		text-align:center;
		font-weight:500;
		border:1px solid black;
		display:flex;
		justify-content:center;
		align-items:center;
		animation: pulse 2s infinite;
	}

	.image_container{
		margin-bottom:5px;
		width:500px;
	}

	#grafic_element{
		padding-left:1rem;
		padding-right:1rem;
	}

	.list-custom-item-small{
		display:none;
	}

	.list-custom-item{
		word-break: break-word;
		line-height:1.2;
		font-size:1.25rem;
		font-weight:300;
		padding-bottom:5px;
	}
	
	.fa-check{
		margin-right:5px;
		margin-left:5px;
	}

	.indicator{
		display:none;
	}
	
	#small_nav_floor{
		bottom:calc(15%);
		left:calc(20%);
	}
	
	#small_nav_wall{
		top:calc(25%);
		left:calc(35%);
	}

	#small_nav_tiles{
		bottom:30px;
		left:calc(45%);
	}
	
	#small_nav_heat{
		left:calc(12.5%);
		bottom: calc(45%);
	}
	
	#small_nav_lights{
		bottom: calc(55%);
		left: calc(55%);
	}
	
	#small_nav_sanit{
		bottom: calc(35%);
		right: calc(12.5%);
	}
	
	.image_big{
		width:500px;
	}
	
	.ul_big{
		columns:2;
	}
	
	#services_head_header, #about_me, #contact_label{
		font-size:2rem;
	}
	
	#services{
		padding-left:0;
		padding-right:0;
	}
	
	#grafic_element{
		padding-left:2rem;
		padding-right:2rem;
		padding-top:20px;
		padding-bottom:20px;
	}
	
	.image_container{
		margin-bottom:10px;
	}
	
	#strip{
		padding-top:1rem;
		padding-bottom:1rem;
		padding-left:2rem;
		padding-right:2rem;
		flex-direction:column;
	}	
	
	.strip_hr{
		display:none;
	}
	
	.strip_element{
		width:30%;
	}
	
	#contact{
		padding-top:1rem;
		padding-left:2rem;
		padding-right:2rem;
	}


}

@media screen and (min-width: 768px) and (max-width: 992px){

	.small_navigation_indicator{
		color:black;
		position:absolute;
		border-radius:20px;
		font-weight:400;
		font-size:1rem;
		box-shadow: 0 0 0 rgba(204,169,44, 0.4);
		display:flex;
		justify-content:flex-start;
		background-color:white;
		opacity:0.8;
		padding:1px;
	}

	.indicator_small{
		margin-right:5px;
		color:inherit;
		background-color:transparent;
		width:26px;
		height:26px;
		border-radius:20px;
		text-align:center;
		font-weight:500;
		border:1px solid black;
		display:flex;
		justify-content:center;
		align-items:center;
		animation:pulse 2s infinite;
	}

	.image_container{
		margin-bottom:25px;
		width:500px;
	}

	#grafic_element{
		padding-left:1rem;
		padding-right:1rem;
	}

	.indicator{
		display:none;
	}
	
	#small_nav_floor{
		bottom:calc(15%);
		left:calc(22.5%);
	}
	
	#small_nav_wall{
		top:calc(25%);
		left:calc(35%);
	}

	#small_nav_tiles{
		bottom:35px;
		left:calc(50%);
	}
	
	#small_nav_heat{
		left:calc(12.5%);
		bottom: calc(45%);
	}
	
	#small_nav_lights{
		bottom: calc(55%);
		left: calc(55%);
	}
	
	#small_nav_sanit{
		bottom: calc(35%);
		right: calc(12.5%);
	}

	.image_big{
		width:500px;
	}
	
	.indicator{
		width:20px;
		height:20px;
	}
	
	#heat_ind_list{
		bottom:25%;
		left:0;
		width:250px;
	}

	#floor_ind_list{
		bottom:0;
		left:0;
	}
	
	#wall_ind_list{
		left:calc(25%);
	}

	#sanit_ind_list{
		bottom:calc(75%);
		right:0;
	}
	
	#tiles_ind_list{
		bottom:0;
		left:calc(50%);
		width:150px;
	}
	
	#lights_ind_list{
		right: calc(37.5% - 75px);
		bottom: calc(50% - 35px);
	}

	.list_ind{
		display:none;
	}
	
	.ul_big{
		columns:3;
	}
	
	.list-custom-item{
		word-break: break-word;
		line-height:1.2;
		font-size:1.25rem;
		font-weight:300;
		padding-bottom:5px;
	}
	
	.fa-check{
		margin-right:5px;
		margin-left:5px;
	}

	#grafic_element{
		padding-left:2rem;
		padding-right:2rem;
		padding-top:20px;
		padding-bottom:20px;
	}

	#services{
		flex-direction:column;
		padding:0;
	}
	
	#services_head,#services_list{
		width:100%;
	}
	
	#strip{
		padding-left:2rem;
		padding-right:2rem;
		padding-top:.5rem;
	}
	
	.strip_image{
		width:80px;
		height:80px;
	}
	
	.strip_span{
		font-size:1rem;
	}	
	
	.strip_span_small{
		font-size:1rem;
	}
	
	.strip_hr{
		display:none;
	}
	
	#services_head_header, #about_me, #contact_label{
		font-size:2.25rem;
	}

}

@media screen and (min-width: 992px) and (max-width: 1199px){

	.indicator{
		display:none;
	}

	.image_big, .image_container{
		width:600px;
	}

	.small_navigation_indicator{
		color:black;
		position:absolute;
		border-radius:20px;
		font-weight:400;
		font-size:1rem;
		box-shadow: 0 0 0 rgba(204,169,44, 0.4);
		display:flex;
		justify-content:flex-start;
		background-color:white;
		opacity:0.8;
		padding:1px;
	}

	.indicator_small{
		margin-right:5px;
		color:inherit;
		background-color:transparent;
		width:26px;
		height:26px;
		border-radius:20px;
		text-align:center;
		font-weight:500;
		border:1px solid black;
		display:flex;
		justify-content:center;
		align-items:center;
		animation:pulse 2s infinite;
	}

	#small_nav_floor{
		bottom:calc(15%);
		left:calc(22.5%);
	}
	
	#small_nav_wall{
		top:calc(25%);
		left:calc(35%);
	}

	#small_nav_tiles{
		bottom:35px;
		left:calc(50%);
	}
	
	#small_nav_heat{
		left:calc(12.5%);
		bottom: calc(45%);
	}
	
	#small_nav_lights{
		bottom: calc(55%);
		left: calc(55%);
	}
	
	#small_nav_sanit{
		bottom: calc(35%);
		left: calc(60%);
	}

	.list_ind{
		display:none;
	}

	.ul_big{
		columns:3;
	}

	.list-custom-item{
		word-break: break-word;
		line-height:1.2;
		font-size:1.35rem;
		font-weight:300;
		padding-bottom:5px;
	}
	
	.fa-check{
		margin-right:10px;
		margin-left:5px;
	}

	#strip,#contact,#grafic_element{
		padding-left:3rem;
		padding-right:3rem;
	}

	#strip{
		padding-top:20px;
	}

	.strip_element{
		width:30%;
	}

	.strip_span{
		font-size:1.5rem
	}
	.strip_span_small{
		padding-left:10px;
		padding-right:10px;
	}

	#services_head_header, #about_me, #contact_label{
		font-size:2.25rem;
	}
	
	.strip_hr{
		height:20px;
	}
	
}

@media screen and (min-width: 1200px){

	.img_big, .image_container{
		max-width:700px;
	}

	.list_ind{
		display:none;
	}

	.list-custom-item{
		word-break: break-word;
		line-height:1.2;
		font-size:1.25rem;
		font-weight:300;
		padding-bottom:5px;
	}
	
	.fa-check{
		margin-right:5px;
		margin-left:5px;
	}

	#services,#strip,#contact{
		padding-left:3rem;
		padding-right:3rem;
	}

	#strip{
		padding-top:20px;
	}

	.strip_element{
		width:30%;
	}

	.strip_span{
		font-size:1.5rem
	}
	.strip_span_small{
		padding-left:10px;
		padding-right:10px;
	}

	#services_head_header, #about_me, #contact_label{
		font-size:2.5rem;
	}
		
	.indicator, .list_ind{
		display:none;
	}
	
	.small_navigation_indicator{
		color:black;
		position:absolute;
		border-radius:20px;
		font-weight:400;
		font-size:1rem;
		box-shadow: 0 0 0 rgba(204,169,44, 0.4);
		display:flex;
		justify-content:flex-start;
		background-color:white;
		opacity:0.8;
		padding:1px;
	}

	.indicator_small{
		margin-right:5px;
		color:inherit;
		background-color:transparent;
		width:26px;
		height:26px;
		border-radius:20px;
		text-align:center;
		font-weight:500;
		border:1px solid black;
		display:flex;
		justify-content:center;
		align-items:center;
		animation:pulse 2s infinite;
	}

	#small_nav_floor{
		bottom:calc(15%);
		left:calc(22.5%);
	}
	
	#small_nav_wall{
		top:calc(25%);
		left:calc(35%);
	}

	#small_nav_tiles{
		bottom:calc(15%);
		right:calc(20%);
	}
	
	#small_nav_heat{
		left:calc(12.5%);
		bottom: calc(45%);
	}
	
	#small_nav_lights{
		bottom: calc(55%);
		left: calc(55%);
	}
	
	#small_nav_sanit{
		bottom: calc(35%);
		right: calc(12.5%);
	}
	
	#grafic_element{
		display:flex;
		flex-direction:row;
	}
	
	#image_container, #services{
		width:50%;
	}
	
	#services{
		padding:0;
	}
	
	.ul_big{
		columns:2;
		padding-left:5%;
	}
	
	#grafic_element{
		padding-left:2rem;
		padding-right:2rem;
		padding-top:2rem;
		padding-bottom:2rem;
	}
	
	.strip_hr{
		height:50px;
	}
	
}
