html{
	scroll-behavior: smooth;
}

.galerie{
	display:grid;
	grid-template-columns:25% 25% 25% 25%;
	margin-bottom:10px;
}

#container_custom{
	width:100%;
	padding:20px;
	background-color:#f4f4f4;
}

.custom_image{
	width:100%;
}

.custom_image_container{
	margin-left:auto;
	margin-right:auto;
	width:95%;
	height:95%;
	background-color:white;
	border-radius:5px;
}

.custom_image_container{
	cursor:pointer;
}

.custom_image_container:hover{
	box-shadow: 1px 1px 5px #e5e5e5,-1px -1px 5px #e5e5e5;
}

.image_link{
	color:#333333;
}

.image_link:hover{
	text-decoration:none;
}

h4{
	padding-top:15px;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:5px;
}

p{
	padding-left:10px;
	padding-right:10px;
	padding-bottom:20px;
}



@media screen and (max-width: 576px){
	
	#jumbotron_logo_container{
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}
	
	#jumbotron_additional_info{
		display:flex;
		flex-direction:column;
	}
	
	#jumbotron_contact{
		padding:0;
	}
	
	#jumbotron_contact_head{
		display:none;
	}
	
	.jumbotron_contact_list_element{
		margin-left:0;
		padding-left:16px;
		padding-right:16px;
		display:block;
		width:100%;
	}
	
	.custom_image_container{
		width:95%;
		margin-left:auto;
		margin-right:auto;
	}
	
	#container_custom{
		padding-left:5px;
		padding-right:5px;
	}
	
	.galerie{
		grid-template-columns:50% 50%;
	}
	
	h4{
		font-weight:400;
		font-size:1rem;
		margin-bottom:2px;
	}
	
	p{
		font-size:.75rem;
		color:gray;
		margin-bottom:0;
	}

}

@media screen and (min-width: 576px) and (max-width: 768px){
	
	#jumbotron_logo_container{
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}
	
	#jumbotron_additional_info{
		display:flex;
		flex-direction:column;
	}
	
	#jumbotron_contact{
		padding:0;
	}
	
	#jumbotron_contact_head{
		display:none;
	}
	
	.jumbotron_contact_list_element{
		margin-left:0;
		padding-left:16px;
		padding-right:16px;
		display:block;
		width:100%;
	}
	
	.custom_image_container{
		width:95%;
		margin-left:auto;
		margin-right:auto;
	}
	
	#container_custom{
		padding-left:5px;
		padding-right:5px;
	}
	
	.galerie{
		grid-template-columns:33.3% 33.3% 33.3%;
	}
	
	h4{
		font-weight:400;
		font-size:1.3rem;
		margin-bottom:2px;
	}
	
	p{
		font-size:1rem;
		color:gray;
	}

}

